/* SIDEBAR CONTAINER STYLE */
.sidebar-container {
    width: 225px; /* Fixed width for the sidebar */
    z-index: 1000; /* Ensure it's above other content */
}

  /* SIDEBAR STYLE */
.sidebar {
    width: 100%; /* Full width within its container */
    height: 100vh; /* Full height */
    background-color: #00712D; /* Dark background color */
    padding-top: 20px;
    position: relative; /* Relative positioning within its container */
    overflow-y: auto; /* Add vertical scrolling if necessary */
    display: flex;
    flex-direction: column;
    align-items: center;
}

  /* LOGO STYLE */
.sidebar-logo {
    margin-bottom: 20px;
}

.logo-image {
    width: 150px; /* Adjust the width as needed */
    height: 150px; /* Adjust the height as needed */
}

  /* SIDEBAR LOGO STYLES */
.sidebarlogoimage {
    width: 24px; /* Adjust the size of the logo */
    height: auto; /* Maintain aspect ratio */
    margin-right: 8px; /* Space between logo and text */
    vertical-align: middle; /* Align with the text */
}

  /* SIDEBAR LIST STYLE */
.sidebar-list {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    width: 100%; /* Full width for sidebar links */
}

  /* SIDEBAR LINK STYLE */
.sidebar-link {
    display: flex; /* Use flexbox to align items */
    align-items: center; /* Vertically center the text and logo */
    padding: 15px 20px;
    color: #ffffff; /* White text color */
    text-decoration: none; /* Remove underline */
    transition: background-color 0.3s; /* Smooth hover effect */
    white-space: nowrap; /* Prevent text from wrapping */
}

.sidebar-linkactive{
    display: block;
    padding: 15px 20px;
    color: #ffffff; /* White text color */
    text-decoration: none; /* Remove underline */
    background-color: #399918;
}

.sidebar-link:hover {
    background-color: #399918; /* Darker background on hover */
}
