/* --------------- GENERAL STYLES START --------------- */
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: #000000;
  background-color: #f4f4f4;
}
/* --------------- GENERAL STYLES END --------------- */

/* --------------- BODY STYLES START --------------- */
.bodylandingpage {
  background-image: url('/landingpagebackground.svg'); 
  background-size: cover;       /* Ensures the image covers the entire area */
  background-position: center;  /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  height: 100vh;               /* Ensures the background covers the full viewport height */
  width: 100%;                 /* Ensures the width is 100% of the viewport */
  display: flex;               /* Enable Flexbox */
    flex-direction: column;      /* Stack children vertically */
    justify-content: center;      /* Center children vertically */
    align-items: center;         /* Center children horizontally */
    text-align: center;          /* Center text */
}
/* --------------- BODY STYLES END --------------- */


/* --------------- NAVBAR STYLES START --------------- */
.navbar-custom {
  background-color: #00712D; 
  height: 80px;
  margin: 20px;
  border-radius: 16px;
  padding: 0.5rem;
}

.nav-link:hover {
  background-color: #02c650; 
  color: white; 
}

.offcanvas-custom {
  background-color: #00712D;
}

.navbar-toggler {
  border:none;
  font-size:c1.25rem;
}

.navbar-toggler:hover{
  background-color: #00712D;
  border:solid 1px;
}

.navbar-toggler:focus {
  box-shadow: none;
  outline: none;
}
/* --------------- NAVBAR STYLES END --------------- */

/* --------------- CONTENT STYLES START --------------- */
.title, .subtitle {
  margin-top: 0;               
}
.title h2, .subtitle h2 {
  color: #ffffff;              
  font-weight: bold;           
  line-height: 1.4;            
  margin: 0;                   
}

/* Default styles for larger screens */
.title h2 {
  font-size: 2rem;             
}

.contenttitles{
  margin-top: 3rem;
}

.subtitle h2 {
  margin-top: 10rem;
  font-size: 1.8rem;           
}

.highlight {
  color: #FFFF00; /* Set the color of the highlighted words to yellow */
  font-weight: bold; /* Optionally make the highlighted text bold */
}

.applybuttoncontainer{
  margin-top: 2rem;  
  display: flex;            /* Use flexbox for centering */
  justify-content: center;  /* Center horizontally */
  align-items: center;      /* Center vertically */
}

.btn-apply-custom {
  background: #00712D;    
  color: #ffffff;         
  padding: 0.5rem 1.5rem; 
  border-radius: 0.25rem;      
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
}

.btn-apply-custom:hover {
  background: #02c650;/* Keep the hover background */
  color:white;
}

/* --------------- CONTENT STYLES END --------------- */


/* --------------- FOOTER STYLES START --------------- */
footer {
  background: #00712D;
  color: #D5ED9F;
  text-align: center;
  padding: 1rem 0;
  position: fixed;      /* Make the footer fixed at the bottom */
  bottom: 0;            /* Align it to the bottom of the viewport */
  width: 100%;          /* Make sure it spans the full width of the page */
}

/* --------------- FOOTER STYLES END --------------- */


/* --------------- MEDIA QUESRY START --------------- */
@media (max-width: 992px) { /* Adjust the breakpoint as needed */
  .navbar-brand .d-none {
    display: none !important; /* Hide the long brand name */
  }
  .navbar-brand .d-lg-none {
    display: inline !important; /* Show the short brand name */
  }
}

@media (min-width: 992px) {
  .navbar-brand .d-lg-none {
    display: none !important; /* Hide the short brand name */
  }
  .navbar-brand .d-none {
    display: inline !important; /* Show the long brand name */
  }
}

@media (max-width: 380px) { /* Targeting iPhone SE and similar devices */
  .title h2 {
      font-size: 1.5rem;        /* Smaller font size for title */
  }

  .subtitle h2 {
      font-size: 1rem;        /* Smaller font size for subtitle */
  }

  .applybuttoncontainer {
      margin-top: 1rem;         /* Adjust margin for button */
  }

  .btn-apply-custom {
      padding: 0.4rem 1rem;     /* Adjust padding for button */
      font-size: 0.9rem;         /* Smaller font size for button */
  }

  footer {
      font-size: 6px;         /* Smaller font size for footer */
  }
}
/* --------------- MEDIA QUERY END --------------- */